#parent{    

    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;   
}
#container{    
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

#profilePic{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 50%;
    height: 100px;
    width:100px;
    margin-top: 90px;
}


#header{
    background:lightblue;
    height: 39%;
}
#body{
    border-bottom: 1px solid #000;
    height: 39%;
    display: flex;    
    flex-wrap: wrap;

}

.body-items{
    width: calc(50% - 10px); /* Adjust the width as needed */
    align-items: center;
    margin: 5px;
    box-sizing: border-box;
    height: 100px; /* Adjust the height as needed */
   }

.body-items:last-child {
    width: 100%;
    
  }

#footer{  
    
    height: 22%;
}